<!DOCTYPE html>
<html>
<head>
     <!-- Metadata -->
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="........................">
     <meta name="keywords" content="...........................">
     <meta name="author" content="Charlie Storey">

     <!--Scripts and stylesheets -->
     <script src="https://use.fontawesome.com/af95cec75e.js"></script>
     <link rel="stylesheet" href="css/styles.css">
</head>

<body>
          <!-- Main body view -->
          {{{body}}}

     <!-- Scripts-->
     <script src="js/dom.js">

</body>

</html>
